<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1>{{ chart[current] }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-warning" ng-click="add('know', chart[current])">
        <div class="panel-heading">
          <h2 class="panel-title">I <em>KNOW</em> this concept</h2>
        </div>
        <div class="panel-body">
          <h2><span>{{ showKwl.know }}</span></h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-success" ng-click="add('want', chart[current])">
        <div class="panel-heading">
          <h2 class="panel-title">I <em>WANT</em> to know this concept</h2>
        </div>
        <div class="panel-body">
          <h2><span>{{ showKwl.want }}</span></h2>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-info" ng-click="add('learn', chart[current])">
        <div class="panel-heading">
          <h2 class="panel-title">I <em>LEARNED</em> this concept</h2>
        </div>
        <div class="panel-body">
        <h2><span>{{ showKwl.learn }}</span></h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-hide="current < chartLength">
    <div class="col-xs-12">You are done</div>
    <button type="button" class="btn btn-primary" ng-click="save()">Save your chart!</button>
    <h1 ng-show="saved">{{ saved }}</h1>
  </div>
</div>
