html, body {
  height: 100%;
  padding-top: 10px;
  margin: 0;
}
.wrapper {
  min-height: 100%;
  margin-bottom: -50px;
}
.footer,
.push {
  text-align: center;
  height: 50px;
}
.img-circle {
  max-height: 150px;
  max-width: 150px
}
